button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  align-items: flex-start;
  background-color: buttonface;
  box-sizing: border-box;
  font: 400 14px system-ui;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  background: transparent none !important;
  font-weight: 400;
  border-radius: 0.28571429rem;
  text-transform: none;
  text-shadow: none !important;
  box-shadow: 0 0 0 1px #21ba45 inset !important;
  color: #21ba45 !important;
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

.switch {
  cursor: pointer;
}
.switch input {
  display: none;
}
.switch input + span {
  width: 24px;
  height: 14px;
  border-radius: 7px;
  transition: all 0.3s ease;
  display: block;
  position: relative;
  background: #ff4651;
  box-shadow: 0 4px 8px -1px rgba(255, 70, 81, 0.2);
}
.switch input + span:before,
.switch input + span:after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
}
.switch input + span:before {
  top: 2.5px;
  left: 2.5px;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  border: 2.5px solid #fff;
}
.switch input + span:after {
  top: 2.5px;
  left: 16px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  transform-origin: 25% 25%;
  background: #fff;
  opacity: 0;
}
.switch input + span:active {
  transform: scale(0.46);
}
.switch input:checked + span {
  background: #48ea8b;
  box-shadow: 0 4px 8px -0.5px rgba(72, 234, 139, 0.2);
}
.switch input:checked + span:before {
  width: 0px;
  border-radius: 1.5px;
  margin-left: 13.5px;
  border-width: 1.5px;
  background: #fff;
}
.switch input:checked + span:after {
  animation: blobChecked 0.35s linear forwards 0.2s;
}
.switch input:not(:checked) + span:before {
  animation: blob 0.85s linear forwards 0.2s;
}
@keyframes blob {
  0%,
  100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.12, 0.94);
  }
  60% {
    transform: scale(0.96, 1.06);
  }
}
@keyframes blobChecked {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  30% {
    transform: scaleX(1.44);
  }
  70% {
    transform: scaleX(1.18);
  }
  50%,
  99% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
html {
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
