::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(54, 60, 76);
}

body {
  padding: 0;
  margin: 0;
}

#codeEditor {
  position: relative;
  width: 500px;
  height: calc(100vh - 30px);
  min-height: 400px;
}

#comunication {
  font-family: "Cutive Mono", monospace;
  font-size: 14px;
  color: #fff;
}

#side-bar {
  transition: all 1s ease;
}

#terminal-input {
  width: calc(100% - 70px);
  border: 0;
  background-color: #282a37;
  color: #fff;
}

#terminal-input:focus {
  outline: none;
}

#terminal-wrapper {
  background-color: #282a37;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font: normal 14px Consolas, "Lucida Console", "Lucida Sans Typewriter",
    monospace;
}

.box {
  border: solid 1px #000;
  border-radius: 5px;
  padding: 8px;
}

.hide-element {
  /* display: none; */
  visibility: hidden;
}

.info {
  height: calc(50vh - 15px);
  min-width: 132px;
  background-color: #282a37;
  overflow: scroll;
  color: #fff;
  font: normal 14px Consolas, "Lucida Console", "Lucida Sans Typewriter",
    monospace;
  min-height: 200px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.hex-num {
  color: #12a2d4;
}

.nav-bar {
  display: flex;
  justify-content: center;
  height: 30px;
  position: fixed;
  z-index: 100;
  background: rgb(54, 60, 76);
  width: 100vw;
  margin: -30px 0 0 0;
}

.nav-bar > button {
  position: fixed;
  right: 0;
}

.register {
  background-color: #add8e6;
  width: 124px;
  margin: 8px;
}

.resgister-and-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.slide-in {
  position: fixed;
  right: 0;
  z-index: 100;
  height: calc(100vh - 30px);
  width: 20vw;
  min-width: 164px;
  background: rgba(54, 60, 76, 0.7);
}

.slide-out {
  right: -20vw;
  width: 0;
  min-width: 0;
  height: 0;
  border-radius: 300px 0 300px 300px;
}

.var {
  color: #45fc74;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

@media (max-width: 600px) {
  #codeEditor {
    position: relative;
    width: 100vw;
    height: 60vh;
    min-height: 400px;
  }

  .hide-element {
    display: none;
    /* visibility: hidden; */
  }

  .info {
    height: auto;
    width: 50%;
    min-height: 0px;
    max-height: 40vh;
  }

  .resgister-and-btns {
    width: 100vw;
    margin: 4px 0 0 0;
  }

  .wrapper {
    flex-direction: column-reverse;
  }
}
