::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(54, 60, 76);
}

body {
  padding: 0;
  margin: 0;
}

nav {
  text-align: center;
}

#codeEditor {
  position: relative;
  width: 500px;
  height: 98vh;
  min-height: 400px;
}

#terminal-input {
  width: calc(100% - 60px);
  border: 0;
  background-color: #282a37;
  color: #fff;
}

#terminal-input:focus {
  outline: none;
}


#terminal-wrapper {
  background-color: #282a37;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

.box {
  border: solid 1px #000;
  border-radius: 5px;
  padding: 8px;
}

.hide-element {
  /* display: none; */
  visibility: hidden;
}

.info {
  height: 98vh;
  min-width: 124px;
  background-color: #282a37;
  overflow: scroll;
  color: #fff;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.hex-num {
  color: #12a2d4;
}

.register {
  background-color: #add8e6;
  width: 124px;
  margin: 8px;
}

.resgister-and-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.var {
  color: #45fc74;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #codeEditor {
    position: relative;
    width: 100vw;
    height: 60vh;
    min-height: 400px;
  }

  .info {
    height: auto;
  }

  
  .wrapper {
    flex-direction: column-reverse;
    background-color: red;
  }
}
